/* everything */

body {
	background: #3E4649;
	color: #f7f7f7;
	font-family: 'Segoe UI', sans-serif;
	margin-top: 40px;

}

h1,h2 {
	font-weight: bold;
}

h2 {
	text-align: center;
}

p {
	font-size: 16px;
	color: #cdcdcd;
}

body, html {
	height: 100%;
}

.container {
	padding: 0;
	margin: 0;
	width: 100%;
}



/* -----------navigation bar -------------*/

.navbar {
	height: 20px;
	margin-bottom: 0;
	opacity: 50%;
	padding-right: 25px;
}

#menu{
  position:fixed;
  z-index: 9999;
  top:0;
  width: 100%;
  -webkit-box-shadow: 0px 1px 2px 1px black;
  -moz-box-shadow: 0px 1px 2px 1px black;
  box-shadow: 0px 1px 2px 1px black;
}

#topImage {
	background-image: url("pictures/topImage.jpg");
  	width: 100%;
  	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.intro {
	border-radius: 10px;
  	padding: 10px;
	padding-top: 50px;
	margin: auto;
	color: black;

	width: 1000px;
	margin-bottom: 50px;
}

.intro h1 {
	font-family: 'Allura', cursive;
	font-size: 100px;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}

.hello {
	border-radius: 10px;
  	padding: 10px;
  	box-shadow: 5px 5px  20px rgba(182, 190, 196, 0.8);
	margin: auto;
	background: rgb(0, 0, 0); /* fallback color */
	background: linear-gradient(to bottom right, rgba(220, 231, 239, 0.7), rgba(158, 184, 200, 0.7));
	width: 750px;
}
.hello h1, .hello h2, .hello p {
	text-align: center;
	color: #3F4B55;
  	width: 100%
}

.hello p {
	font-size: 20px;
}

.hello img {
	display: block;
	margin-top:10px;
	margin-bottom:10px;
  	margin-left: auto;
  	margin-right: auto;
	border-radius: 50%;
}

.hello .btn-primary {
	border-radius: 4px;
	background-color: transparent;
	border-color: #3F4B55;
	color: #3F4B55;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 250px;
	cursor: pointer;
	margin-bottom: 5px;
	margin-right: 20px;
	margin-left: 20px;
}

.hello .btn-primary:hover {
	color: white;
	background-color: #3F4B55;
	border-color: #3F4B55;
	transition: 0.1s;
}

.hello .btn-primary span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.1s;

}

.hello.btn-primary span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;

}

/* --------jumbotron--------- */

.jumbotron {

	background-image: url("pictures/hex.png");
	background-size: cover;
	
	color: white;
	text-align: center;
	padding-top: 60px;
  	margin-top: 20px;
  	outline-style: solid;
  	outline-width: 1px;
  	outline-color: gray;
}


.jumbotron p {
	margin-left: auto;
  	margin-right: auto;
	width: 1024px;
	color: white;
	font-size: 26px;
	padding-bottom: 30px;
	font-family: 'Segoe UI';

}



.btn-primary {
	border-radius: 4px;
	background-color: transparent;
	border-color: white;
	color: #FFFFFF;
	text-align: center;
	font-size: 26px;
	padding: 20px;
	width: 200px;
	cursor: pointer;
	margin-bottom: 5px;
	margin-right: 20px;
	margin-left: 20px;
}

.btn-primary:hover {
	color: SlateBlue;
	background-color: white;
	border-color: white;
	transition: 0.1s;
}

.btn-primary span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.1s;

}

.btn-primary span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;

}

.btn-primary:hover span {
	padding-right: 25px;

}

.btn-primary:hover span:after {
	opacity: 1;
	right: 0;


}



/* -------picture section-------- */
.self_pic {
	margin-left: auto;
  	margin-right: auto;
	width: 1024px;
}

.picture_row {
	float:left;
	margin-left: 100px;
	width: 250px;

}

.picture_text {
	float:left;
	font-size: 20px;
	margin-left: 25px;
}




/* -----------contact---------- */

#contact {
	width: 600px;
	margin-left: auto;
  	margin-right: auto;
}

#contact .row {
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contact #border {
	border-radius: 50px;
	border-style: solid;
	border-width: 5px;
}

#contact h2, #contact h3, #contact p{
	text-align: center;
	color: white;
}

#contact h3 {
	margin-top: 5px;
}

#contact p {
	font-size: 20px;
}

#messageMe {
	padding-top: 25px;
}

#contact #logo {
	text-align: center;
	
}

#contact a {
	color: inherit;

}


#contact .btn {
	color: #fff;
	background-color: transparent;
	border-color: white;
	margin-bottom: 5px;
}
#contact .btn:hover {
	color: #3E4649;
	background-color: white;
	border-color: white;
}

/* --------footer---------- */

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 0px;
    color: white;
}

footer #small {
	font-size: 10px;
	margin-bottom: 20px;
}
