body,
p,
img,
div,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #dcdcdd;
}

a:visited {
  color: #46494c;
}

header {
  width: 100%;
  position: fixed;
  background-color: #c5c3c6;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0px -8px 32px rgb(51, 51, 51);
}

header h1 {
  margin-left: 2vw;
  font-weight: 300;
  font-size: 32px;
  color: #46494c;
  transition: 250ms;
}

header h2 {
  font-weight: 300;
  font-size: 24px;
  color: #46494c;
  transition: 250ms;
}

header h1:hover, header h2:hover {
  transform: scale(1.1);
  transition: 250ms;
}

header div {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

#shortcuts {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1vw;
}

#shortcuts h2 {
  margin: 0px 12px;
}

.container {
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: #dcdcdd;
}

.left {
  width: 33vw;
  background-color: #4c5c68;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-section {
  display: none;
  position: static;
}

.left img {
  margin: 24px;
  width: 20vw;
  height: auto;
}

.left h1 {
  margin: 24px;
  font-weight: 200;
  font-size: 4vw;
  color: #dcdcdd;
  letter-spacing: 0.5vw;
}

.right {
  position: relative;
  width: 65vw;
  left: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right h1 {
  font-size: 3.5vw;
  font-weight: 300;
  margin: 48px;
}

.right p {
  margin-top: 20vh;
  font-size: 2vw;
  font-weight: 300;
  text-align: center;
}

/* Welcome page top */

.top#welcome {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top .rellax {
  z-index: -1;
}

.top #top-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
}

.top section.rellax {
  
  background-image: url("images/succulent.jpg");
  height: 100%;
  width: 100%;
  z-index: -10;
  
}

.top section.background-color {
  background-color: rgba(14, 14, 14, 0.6);
  height: 100%;
  width: 100%;
  z-index: -9;
  position: fixed;
}

.top img#logo {
  height: 60vh;
  margin-top: 15vh;
  position: relative;
}

.top h1 {
  color: white;
  margin-top: 5vh;
}


.top #top-right {
  position: fixed;
  bottom: 50vh;
  left: 66vw;
  
}

.top #top-right h2 {
  color: white;
  font-size: 2em;
  position: fixed;
}


/* about section */

#about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
}

#about img {
  margin: 24px;
  width: 25vw;
  height: auto;
  border-radius: 0%;
}

#about h1 {
  margin-top: 0px;
  font-size: 3vw;
  margin: 0;
  text-align: right;
}

#about p {
  font-size: 1.2vw;
  margin: 0vh 13vw;
  text-align: left;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
}

/* skills section */

#skills-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

button {
  width: 20vw;
  height: 10vh;
  text-decoration: none;
  display: inline-block;
  background-color: #666a86;
  color: #c5c3c6;
  padding: 0vh 0vw;
  margin-top: 6vh;
  font-size: 1.5vw;
  font-family: "Raleway", sans-serif;
  text-align: center;
  border: solid #c5c3c6 0px;
  border-radius: 64px;
  transition: 0.25s;
  cursor: pointer;
}

.button-on {
  background-color: #3a405a;
  transition: 0.25s;
}

#skills {
  margin-top: -8vh;
}

#skills h1 {
  text-align: center;
}

.icon img {
  width: 5vw;
  height: auto;
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  display: none;
}

#section-prog {
  display: block;
}

.skills-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1vh 0vw;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 10vw;
  margin: 2vh 2vw;
}

.icon p {
  margin-top: 16px;
}

#section-other .skills-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#section-other h2 {
  text-align: left;
  font-size: 3vw;
  margin: 4vh 0vh 1vh 0vh;
  font-weight: 200;
}

#section-other h3 {
  text-align: left;
  font-size: 1.2vw;
  margin-bottom: 1vh;
  font-weight: 300;
}

#section-other p {
  text-align: left;
  font-size: 1.2vw;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
}

#section-other b {
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}

/*projects */
.projects-button {
  height: 9vh;
  margin-top: 4vh;
}

.button-on-projects {
  background-color: #3a405a;
  transition: 0.25s;
}

#projects-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#projects {
  margin: 2vw;
}

#projects h2 {
  margin: 1vw;
  padding: 0;
  font-size: 3vw;
  font-weight: 300;
}

#projects p {
  margin: 0;
  padding: 0;
  font-size: 1.25vw;
  text-align: left;
  width: 30vw;
  font-family: "Open Sans", sans-serif;
}

#projects .project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  height: 80vh;
}

#projects .project-display {
  display: flex;
}

#project-first .project-text {
  position: relative;
  top: 2vw;
}

#project-second {
  position: relative;
  top: 2vw;
}

#projects #project-third {
  flex-direction: row;
}

#project-third-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-third-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh;
}

#project-third-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-first img {
  width: 30vw;
  height: auto;
  margin-top: 5vw;
}

#project-second img {
  width: 15vw;
  height: auto;
  margin: 4px;
}

#project-third img {
  width: 10vw;
  height: auto;
  margin: 4px;
}

#project-third #large-image {
  width: 20vw;
  height: auto;
  margin: 4px;
}

#project-fifth.project-item {
  flex-direction: row;
}

#project-fifth img {
  width: 30vw;
  height: auto;
  margin: 8px;
  position: relative;
  top: 2vw;
  left: 2vw;
}

/* contact */

#contact p {
  margin: 0;
}

#contact #footer p {
  position: relative;
  top: 40vh;
  font-size: 1vw;
}

/* mobiles devices */
@media screen and (max-width: 900px) {
  header h1 {
    width: 100%;
    font-size: 2.5vh;
  }

  #shortcuts {
    display: flex;
    overflow-x: hidden;
    width: 50vw;
  }
  #shortcuts h2 {
    font-size: 1.5vh;
    margin: 0.75vh;
  }

  .left {
    display: none;
  }

  .right {
    width: 100%;
    left: 0;
  }
  .right-section {
    height: 50vh;
  }

  .container h1 {
    font-size: 2.5vh;
    margin: 1vh;
  }

  .container h2 {
    font-size: 2.25vh;
  }

  .container h3 {
    font-size: 2.25vh;
  }

  .container p {
    font-size: 1.5vh;
  }

  #about p {
    font-size: 1.25vh;
  }
}
